
fieldset {
    background-color: rgb(255 255 255 / 98%);
    border-radius: 3px;
    padding-bottom: 12px;
}

legend {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #242f47;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px 3px 14px;
    width: auto;
}

/* PARA LA CARGA DE PETICIONES */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url('../../img/IconoLoader.svg') 50% 50% no-repeat rgb(249,249,249);
    background-size: 150px;
    background-color: #c4e3f3;
    opacity: 0.8;
}

.loader-texto-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #9F1216;
    text-align: center;
    font-weight: bold;
    /*font-size: 16px;*/
    font-size: 12px;
    text-transform: uppercase;
}
/* PARA LA CARGA DE PÃGINA */
.loaderPagina {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url('../../img/IconoLoader.svg') 50% 50% no-repeat rgb(249,249,249);
    background-size: 150px;
    background-color: #c4e3f3;
    opacity: 1.0;
}

/* para el boton cerrar del popup - inicio */
.close {
    color: #b90404;
    opacity: 100;
    border-radius: 30%;
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(0);
    transition: all .3s ease;
}

    .close:hover,
    .close:focus {
        color: #ff0000;
        background-color: #ffffff; /* adicionado para resaltar el fondo rojo*/
        opacity: 100;
        text-decoration: none;
        filter: alpha(opacity=50);
    }

    .close:hover {
        transform: rotate(-180deg);
    }

button.close {
    background: #ffffff;
}
/* para el boton cerrar del popup - termino */


/* mensajes de alerta - inicio */
.swal-success {
    border-color: #5cb85c;
    border: 5px solid #5cb85c;
}

.swal-warning {
    border-color: #f8bb86;
    border: 5px solid #f8bb86;
}

.swal-danger {
    border-color: #f62828;
    border: 5px solid #f62828;
}

.swal-info {
    border-color: #54a3f7;
    border: 5px solid #54a3f7
}

.sweet-overlay {
    background-color: rgba(11, 23, 3, 0.50);
    z-index: 100005;
}

.sweet-alert {
    z-index: 999999;
}
/* mensajes de alerta - final */

/* para los popover */
.popover-title {
    background-color: #ebcccc;
    color: #9F1216;
    width: 200px;
}

.popover-content {
    width: 200px;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #D84315;
}

.has-error .form-control {
    border-color: #D84315;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

    .has-error .form-control:focus {
        border-color: #aa3510;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f08463;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f08463;
    }

.has-error .input-group-addon {
    color: #D84315;
    border-color: #D84315;
    background-color: #FBE9E7;
}

.bold {
    font-weight: bold;
}

.bg-headerTabla {
    background-color: #97939333;
    color: white;
    font-weight: 100;
}

textarea {
    resize: none;
}

.flipswitch {
    position: relative;
    width: 59px;
    height: calc(1.5em + 0.5em );
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #c6cad5;
    background-color: white;
}

    .flipswitch:after {
        position: absolute;
        top: 5%;
        display: block;
        line-height: 19px;
        width: 45%;
        height: 90%;
        background: #fff;
        box-sizing: border-box;
        text-align: center;
        transition: all 0.3s ease-in 0s;
        color: black;
        border: #888 1px solid;
        border-radius: 3px;
        vertical-align: middle;
    }

    .flipswitch:after {
        left: 2%;
        content: "NO";
        color: #FFF;
        padding-top: 2px;
        background-color: #c82333;
    }

    .flipswitch:checked:after {
        left: 53%;
        content: "SI";
        color: #FFF;
        padding-top: 2px;
        background-color: green;
    }

.nav-link :active {
    color: #9F1216;
    /*box-shadow: inset 0 3px 1px #9F1216;*/
}

.nav-link:hover {
    color: #9F1216;
}

.nav-link:focus {
    color: #9F1216;
}

.disable-div {
    pointer-events: none;
}

.bg-siju {
    background-color: #9F1216 !important;
}

.input-wrapper {
    position: relative;
    /*width: 271px;*/
}

.input {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 100%;
}

    .input.password {
        padding: 15px 35px 15px 15px;
    }

.input-icon {
    color: #191919;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

    .input-icon.password {
        left: unset;
        right: 12px;
    }


.picker {
    z-index: 100000 !important;
}

.nombreArchivo {
    font-size: 12px;
    color: #9F1216;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.aviso {
    font-size: 14px;
    color: #28B463;
    font-weight: 500;
}


label.error {
    color: #d5141a;
    font-size: 12px;
    display: block;
    margin-top: 3px;
}


.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 12px;
    color: #364261;
    background-color: #a3a0a080;
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #031b4e;
}




/*map marker - tooltip*/
.mapid {
    height: 250px;
    margin-top: 8px;
    border-radius: 8px;
}

.div-icon-total {
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,.30), 0px 2px 6px 2px rgba(60,64,67,.15);
    position: absolute;
    border-radius: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    font-family: 'Segoe UI', Helvetica, sans-serif;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    left: -2.5px;
}

    .div-icon-total:after {
        border: 5px solid;
        border-color: white transparent transparent;
        content: "";
        left: 50%;
        margin-left: -6px;
        position: absolute;
        top: 100%;
    }

.pulse {
    background: rgb(36 43 49 / 20%);
    border-radius: 50%;
    height: 8px;
    width: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 23px 0px 0px -3px;
    transform: rotateX(55deg);
    z-index: -2;
    margin-top: -4px;
    margin-left: -5.5px;
}

    .pulse:after {
        content: "";
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: -5px 0 0 -5px;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
        box-shadow: 0 0 1px 2px rgba(36, 43, 49, 0.5);
        animation-delay: 1.1s;
    }

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        /**/
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        /**/
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.div-iconSVG::after {
    border: 7px solid;
    border-color: rgba(255, 255, 255,.7) transparent transparent;
    content: "";
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 102%;
}


.tooltip-app {
    font-family: 'Segoe UI';
    text-align: left;
    background: rgba(255, 255, 255, 1);
    bottom: 100%;
    color: #626262;
    font-family: 'Segoe UI';
    font-size: 11px;
    display: block;
    /* left: 75px; */
    margin-bottom: 7px;
    opacity: 0;
    padding: 13px 19px;
    pointer-events: none;
    position: absolute;
    /* width: 100%; */
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    /*margin-left:7px;*/
    text-shadow: none;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,.30), 0px 2px 6px 2px rgba(60,64,67,.15);
    white-space: nowrap;
}

.popup-app {
    color: #626262;
    font-family: 'Segoe UI';
    font-size: 11px;
    padding-left: 20px;
    margin-left: -20px;
}

.tooltip-app:before {
    content: " ";
    bottom: -10px;
    height: 0;
    left: 50%;
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: white;
    margin-bottom: 10px;
    margin-left: -25px;
    z-index: 2;
}

.tooltip-app:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid rgba(255, 255, 255, 1) 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    position: absolute;
    filter: drop-shadow(0 0px 5px rgba(0,0,0,0.7));
}

.tooltip-app p, .popup-app p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 11px;
    line-height: normal;
}

    .tooltip-app p:nth-child(1), .popup-app p:nth-child(1) {
        line-height: 17px;
        font-size: 12px;
        font-weight: bold;
    }

.div-iconSVG .tooltip-app {
    margin-bottom: 30px;
}

.div-icon-total:hover .tooltip-app, .div-iconSVG:hover .tooltip-app, #UbigeoControl a:hover .tooltip-app {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.leaflet-bar.leaflet-control.leaflet-control-custom.legend .checkbox + .checkbox {
    margin-top: 0;
}

.div-icon-total .tooltip-app:after {
    margin-left: -11px;
}

.div-iconSVG .tooltip-app {
    margin-left: 7px;
}

    .div-iconSVG .tooltip-app:after {
        margin-left: -7px;
    }

.icon-marker {
    width: 32px !important;
    height: 40px !important;
    border: aliceblue;
    font-size: 1.2em;
    font-weight: 600;
    left: -8.5px;
    top: -34px;
    background-image: url("../../img/marker.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/*end map marker-tooltip*/

.leaflet-sidebar {
    /*width: 364px !important;*/
}

    .leaflet-sidebar > .leaflet-control {
        padding: 8px 14px !important;
    }

@media (min-width: 1200px) {
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 360px !important;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 360px !important;
    }
}
/*custom devextreme*/
/* .dx-list .dx-empty-message, .dx-list-item {
    border: 1px solid #dddddd82;
    color: #333;
    box-shadow: 0 2px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 2px 0 #0000001f;
    border-radius: 8px;
    margin-bottom: 14px;
}*/

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    .scroll-to-top:hover {
        background-color: #555;
    }

.leafletSlider {
    font-size: 25px;
    color: #9f1216 !important;
    font-weight: bold;
}